*{ margin:0; padding:0; box-sizing:border-box; }


:root {
	--button:#E1AA36;
}


body{
	font-family: sans-serif;
	background-color: black;
}
h1,h2,h3,h4,h5,h6{
	font-family: serif;
}

#v{
	width: 100%;
	height: 690px;

}

#img1 {
	width: 100%;
	height: 690px;
	object-fit: cover;
	filter: brightness(70%);
	position: relative;

}

#top {
	padding: 0 70px 0 70px;
	color: white;position: absolute;
	top: 20px;
	/*border: 1px solid red;*/
	width: 100%;
}
#top .p1{
font-size: 13px;display:inline-block;
}

#top .p2{float:right; }




.p2 > a{
	margin-left: 25px;
	cursor: pointer;
}
.fa-facebook-f:hover, .fa-twitter:hover{
	color: #1C6EA4;
}
.fa-instagram:hover{ color:brown; }
.fa-whatsapp:hover{ color:green; }

nav{
	position: absolute;
	top: 70px;
	padding: 0 70px 0 70px;width: 100%;
}
.menu{ display:none;color:white;position: absolute;right: 200px;
cursor: pointer;top: 15px}



.link {
	float: right;
	margin-top: 17px;
}

.link > a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	margin-left: 25px;
	letter-spacing: 1px;
	transition: 0.5s;
}
.link > a:hover{
	color: var(--button);
}
.slidemenu{ margin-top:15px; margin-left:50px; }

.slidemenu > a{
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
	line-height: 50px;
	transition: 0.5s;
	
	}

.slidemenu a:hover{
	color: var(--button);
}

.p3 {

margin-top: 50px;
margin-left: 50px;
}
.p3 > i{
	margin-right: 20px;
	cursor: pointer;
}
#text{ padding:0 70px 0 70px;
position:absolute;
top:44%;
color:white; }

.h1{
	font-size: 66px;letter-spacing: 1px;
}

.h2{
	font-size: 50px;
}
.book{ border:3px solid white; padding:15px 23px; font-weight: bold; font-size: 12px !important;
	text-decoration: none;
	color: white;letter-spacing: 1px;
}
.book:hover{
	background-color: var(--button);
	border-color: var(--button);
	transition: 1s;
	color: white !important;
}
.click{
	position: absolute;
	right: 0;
	height: 100%;
	width: 0px;
	background-color: #44444E;
	color: white;
	padding: 30px;
	z-index: 100;
	top: 0;
	display: none;

}
/*header over*/



.container1 {
  display: grid;
  grid-template-columns: 27% 43% auto;
  margin-top: 100px;
  padding: 0 70px;
  row-gap: 50px;
  width: 100%;
  color: white;
}

/* ✅ Main Post */
.c1 {
  text-align: center;
  grid-column: 1 / 3;
}
.c1 img {
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

/* ✅ Sidebar */
.c2 {
  padding-left: 40px;

}
.c2 h4 {
  text-align: center;
  border-bottom: 5px double white;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.c2 a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 40px;
  font-size: 17px;
  transition: 0.4s;
}
.c2 a:hover {
  color: var(--button);
}

.form {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}
.input {
  flex: 1;
  height: 40px;
  padding: 8px;
  border: 1px solid #ccc;
}
.btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: var(--button);
}

/* ✅ Blog grid sections */
.c3, .cc3, .cc5, .cc7, .cc9, .cc11 {
  grid-column: 1 / 2;
}
.c4, .cc4, .cc6, .cc8, .cc10, .cc12 {
  grid-column: 2 / 3;
  margin-left: 20px;
  text-align: left;
}
.c3 img, .cc3 img, .cc5 img, .cc7 img, .cc9 img, .cc11 img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  transition: transform 0.4s;
}
.c3 img:hover,
.cc3 img:hover,
.cc5 img:hover,
.cc7 img:hover,
.cc9 img:hover,
.cc11 img:hover {
  transform: scale(1.05);
}

/* ✅ Text effects */
.free {
  transition: 0.4s;
}
.free:hover {
  color: var(--button);
}
#s1 {
  color: var(--button);
  letter-spacing: 1px;
  font-style: italic;
}
#s1:hover {
  text-decoration: underline;
}



footer{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 150px;
	margin-bottom: 50px;
}
.f1, .f2, .f3{
	width: 30%;
	text-align: center;
}
.f1 > a , .f3 > a{
	color: var(--button);
	display: block;
	line-height: 30px;
}

.f1 > a:hover , .f3 > a:hover{
	text-decoration: none;
}
.pratvi:hover{
	text-decoration: none;
}
.h4{
	font-size: 50px;
}




@media only screen and (max-width: 1000px){
	#img1, #v{
		height: 400px;
	}
	#img1{
		filter: brightness(50%);
	}

	#top{ display:none; }
	nav{ padding: 0 20px 0 20px; top:20px; }

	.link > a {display: none;}
	.link > a:last-child{
	display: block;margin-top: -15px;
	}
	.menu{ display:block; }

	.h1{ font-size:50px; }
	#text {
		top: 25%;
		padding: 0 20px;
	}
.h2{ font-size:50px; }
.h4{ font-size:35px; }




/*header over*/


.container1{ padding:0 20px; }
.c2 { padding-left:20px; }

/*.c3, .cc3, .c5, .c7, .c9 ,.c11{
  	margin-left: 20px;
  }*/

footer{
		flex-direction: column;

	}
	.f1 , .f2, .f3{
		width: 100%;
	}
	.f1{
		order: 2;
		margin-bottom: 50px;
	}
	.f2{
		order: 1;
		margin-bottom: 50px;
	}
	.f3{
		order: 3;
		margin-bottom: 50px;
	}
}









/* ✅ Responsive */
@media (max-width: 992px) {
  .container1 {
    grid-template-columns: 1fr;
    padding: 0 30px;
  }
  .c1 {
    grid-column: 1 / 2;
  }
  .c2 {
    padding-left: 0;
    margin-bottom: 30px;
    order: 99;
    text-align: center;
  }
  .c3, .c4, .cc3, .cc4, .cc5, .cc6, .cc7, .cc8, .cc9, .cc10, .cc11, .cc12 {
    grid-column: 1 / 2;
    margin-left: 0;
    text-align: center;
  }
  /*.image {
  	width: 40%;
  }*/

.c3 img, .cc3 img, .cc5 img, .cc7 img, .cc9 img, .cc11 img{
  	width: 50%;
  	height: 300px;
  }

}

@media only screen and (max-width: 700px){
	.c3 img, .cc3 img, .cc5 img, .cc7 img, .cc9 img, .cc11 img{
  	width: 50%;
  	height: 200px;
  }
}