*{ margin:0; padding:0; box-sizing:border-box; }


:root {
	--button:#E1AA36;
}


body{
	font-family: sans-serif;
	background-color: black;
}
h1,h2,h3,h4,h5,h6{
	font-family: serif;
}

#v{
	width: 100%;
	height: 690px;

}

#img1 {
	width: 100%;
	height: 690px;
	object-fit: cover;
	filter: brightness(55%);
	position: relative;

}

#top {
	padding: 0 70px 0 70px;
	color: white;position: absolute;
	top: 20px;
	/*border: 1px solid red;*/
	width: 100%;
}
#top .p1{
font-size: 13px;display:inline-block;
}

#top .p2{float:right; }




.p2 > a{
	margin-left: 25px;
	cursor: pointer;
}
.fa-facebook-f:hover, .fa-twitter:hover{
	color: #1C6EA4;
}
.fa-instagram:hover{ color:brown; }
.fa-whatsapp:hover{ color:green; }

nav{
	position: absolute;
	top: 70px;
	padding: 0 70px 0 70px;width: 100%;
}
.menu{ display:none;color:white;position: absolute;right: 200px;
cursor: pointer;top: 15px}



.link {
	float: right;
	margin-top: 17px;
}

.link > a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	margin-left: 25px;
	letter-spacing: 1px;
	transition: 0.5s;
}
.link > a:hover{
	color: var(--button);
}
.slidemenu{ margin-top:15px; margin-left:50px; }

.slidemenu > a{
	display: block;
	font-weight: bold;
	color: white;
	text-decoration: none;
	line-height: 50px;
	transition: 0.5s;
	
	}

.slidemenu a:hover{
	color: var(--button);
}

.p3 {

margin-top: 50px;
margin-left: 50px;
}
.p3 > i{
	margin-right: 20px;
	cursor: pointer;
}
#text{ padding:0 70px 0 70px;
position:absolute;
top:44%;
color:white; }

.h1{
	font-size: 66px;letter-spacing: 1px;
}

.h2{
	font-size: 50px;
}
.book{ border:3px solid white; padding:15px 23px; font-weight: bold; font-size: 12px !important;
	text-decoration: none;
	color: white;letter-spacing: 1px;
}
.book:hover{
	background-color: var(--button);
	border-color: var(--button);
	transition: 1s;
	color: white !important;
}
.click{
	position: absolute;
	right: 0;
	height: 100%;
	width: 0px;
	background-color: #44444E;
	color: white;
	padding: 30px;
	z-index: 100;
	top: 0;
	display: none;

}
/*header over*/

/*.container1{
	width: 100%;
	padding: 0 70px;
	margin-top: 100px;
}


.c1{ width:45%; float:left; }
.image {
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;

}

.c2{
	width: 45%;
	color: white;
	margin-left: 100px;
	float: left;
	border: 1px solid white;
}
.c2 > h1{
	font-size: 50px;
}

.t{
	display: flex;
	width: 100%;
	justify-content: space-between;

}
.t1{
	width: 50%;
}


*/







/* Container */
.container1 {
  width: 100%;
  padding: 0 70px;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* Left Image */
.c1 {
  flex: 1 1 400px;
  max-width: 650px;
}
.image {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

/* Right Content */
.c2 {
  flex: 1 1 450px;
  color: white;
 
  padding: 30px;
  border-radius: 15px;
}
.c2 > p {
  font-size: 17px;
  letter-spacing: 1px;
  margin: 0;
}
.c2 > h1 {
  font-size: 50px;
  margin: 5px 0 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}

/* Contact Info (side by side layout) */
.t {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  row-gap: 40px;
  column-gap: 30px;margin-top: 70px;
}
.t h2 {
  letter-spacing: 1px;
  font-size: 20px;
  color: white;
  margin: 0;
}
.t p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}
.t a {
  color: white;
  text-decoration: none;
}
.t a:hover {
  text-decoration: underline;
}
.p{  font-size: 16px; text-align:center;color:white; letter-spacing:2px; margin-top: 130px;}
.h {  text-align:center; font-size:50px; color:white; letter-spacing:2px; }
/*
#form1{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	height: 200px;
	padding: 0 70px;
	color: white;
	flex-wrap: wrap;
	margin-top: 80px;
	font-size: 18px;
}
#form1 > div{
	width: 30%;
}

#form1 label { display:inline-block; padding-bottom:10px; }
#form1 input,select{ height:40px;width:100%; }

.b {
	background-color: transparent;

}

*/

#form1{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	height: auto;
	gap: 60px 30px; /* 60px vertical gap, 30px horizontal gap */
	padding: 0 70px;
	color: white;
	flex-wrap: wrap;
	margin-top: 80px;
	font-size: 18px;
}
#form1 > div{
	width: 30%;
}

#form1 label { display:inline-block; padding-bottom:10px; }
#form1 input,select{ height:40px;width:100%; }

.b {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	width: 15%;
	
}
#form1 input[type="submit"] {
    width: auto;           /* sirf text ke jitna */
    display: inline-block; /* apne content jitna */
    padding:0 45px;
}



footer{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 150px;
	margin-bottom: 50px;
}
.f1, .f2, .f3{
	width: 30%;
	text-align: center;
}
.f1 > a , .f3 > a{
	color: var(--button);
	display: block;
	line-height: 30px;
}

.f1 > a:hover , .f3 > a:hover{
	text-decoration: none;
}
.pratvi:hover{
	text-decoration: none;
}
.h4{
	font-size: 50px;
}




@media only screen and (max-width: 1000px){
	#img1, #v{
		height: 400px;
	}
	#img1{
		filter: brightness(50%);
	}

	#top{ display:none; }
	nav{ padding: 0 20px 0 20px; top:20px; }

	.link > a {display: none;}
	.link > a:last-child{
	display: block;margin-top: -15px;
	}
	.menu{ display:block; }

	.h1{ font-size:50px; }
	#text {
		top: 25%;
		padding: 0 20px;
	}
.h2{ font-size:50px; }
.h4{ font-size:35px; }
#form1{ padding:0 20px; }



/*header over*/


footer{
		flex-direction: column;

	}
	.f1 , .f2, .f3{
		width: 100%;
	}
	.f1{
		order: 2;
		margin-bottom: 50px;
	}
	.f2{
		order: 1;
		margin-bottom: 50px;
	}
	.f3{
		order: 3;
		margin-bottom: 50px;
	}




  .container1 {
    padding: 0 30px;
    gap: 30px;
  }
  .c2 h1 {
    font-size: 36px;
    text-align: center;
  }
  .c2 p{
  	text-align: center;
  }
  /*.t {
    grid-template-columns: 1fr; 
    row-gap: 25px;
  }*/
}

@media (max-width: 576px) {
	.container1{ text-align:center; }
  .c2 {
    padding: 20px;
  }
  .c2 h1 {
    font-size: 28px;
  }
  .t h2 {
    font-size: 18px;
  }

   .t {
    grid-template-columns: 1fr; 
    row-gap: 25px;
  }
  .h { font-size:30px; }
  #form1{ flex-direction:row; }
  #form1 > div{ width:100%; }
}